# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.F90 text
*.c text
*.cu text
*.f90 text
*.h text
*.md text
*.py
*.rst
*.sh text
*.txt text

# don't add dev-ops files to release archives
.coveragerc export-ignore
.dir-locals.el export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.markdownlint.yml export-ignore
.pre-commit-config.yaml export-ignore
.projectile export-ignore
.travis.yml export-ignore
codecov.yml export-ignore

# Tell git explicitly about binary files
*.ico binary
*.png binary
