# Emacs stuff
.projectile
.dir-locals.el

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
a.out

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.eggs/

# Eclipse project files
.project
.cproject
*.pydevproject
.metadata
.gradle
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.buildpath
.externalToolBuilders/
*.launch
.target
.texlipse
.ptp-sync
.ptp-sync-folder

# TAU Commander registry files
registry
installed
system
.tau

# TAU Commander pylint report
pylint.md

# TAU intermediate compilation files
*.inst.*
*.pdb

# TAU profiles / traces
profile.*
tauprofile.xml
*.slog2
*.trc
*.edf
*.ppk
*.zip
*.tar.*
*.tgz
*.cubex

# Misc
*~
.DS_Store
benchmarks
*.cobaltlog
*.output
*.error
*.

# Python coverage data
.coverage

# Python packaging files
# general things to ignore
/VERSION
/build
/dist
/taucmdr-*
packages/*.sh
packages/*.tgz
packages/*.tar.*
packages/*.zip
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.tox
.cache
venv

# Deployment private and public key, but DO store encrypted private key for Travis-CI
id_rsa_Travis2GH
id_rsa_Travis2GH.pub

# Jupyter stuff
.ipynb*
*.ipynb

# mypy caches
.mypy_cache
