include LICENSE
include Makefile
include README.md
include VERSION
include codecov.yml
include pylintrc
include requirements.txt

include bin/tau

recursive-include docs *
recursive-include examples *
