#
# Files to be included in a TAU Commander distribution package
#
include README.md LICENSE Makefile MANIFEST.in VERSION
recursive-include examples *
recursive-include packages/taucmdr/kernel * 
recursive-include system/src *
global-exclude .*ptp*
