.tau-TauLogo {
  background-image: url(tau.svg);
}

#setting-editor .tau-TauLogo {
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
}

.tau-TauSidebar {
  background: var(--jp-layout-color1);
  display: flex;
  flex-direction: column;
}

.jp-Toolbar > .jp-Toolbar-item {
  align-items: center;
}

.tau-TauSidebar .jp-Toolbar .tau-TauSidebar-toolbar-label {
  flex: 0 0 auto;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: var(--jp-ui-font-size0);
  padding: 8px 8px 8px 12px;
  margin: 0px;
}

.tau-TauSidebar button.jp-Button > span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tau-SidebarFailure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 600px;
  color: var(--jp-ui-font-color3);
}

.tau-SidebarFailure-title {
  font-size: var(--jp-ui-font-size3);
  text-align: center;
}

.tau-SidebarFailure-detail {
  font-size: var(--jp-ui-font-size4);
  padding: 24px;
}

.tau-SidebarFailure-refresh {
  color: var(--jp-ui-font-color2) !important;
  width: 40%;
  z-index: 1;
}

.tau-SidebarFailure:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(tau.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
}

.tau-ListingDisplay {
  height: 70%;
  overflow-y: auto;
}

.tau-ProjectListing-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.tau-ProjectListing-item {
  background-color: var(--jp-input-hover-background);
  border-bottom: 1px solid var(--jp-border-color2);
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tau-ProjectListing-item-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tau-ProjectListing-item-buttons {
  display: flex;
}

.tau-ProjectListingItem-button {
  padding: 0;
  border: none;
  background: none;
  box-shadow: none !important;
  background-image: none !important;
  background-color: var(--jp-input-hover-background) !important;
}

.tau-ProjectListingItem-button:hover {
  background-color: var(--jp-layout-color2) !important;
}

.tau-StreamConsole {
  border-top: 2px solid var(--jp-toolbar-border-color);
  overflow-y: overlay;
  width: -webkit-fill-available;
  overflow-wrap: break-word;
  font-size: x-small;
  display: flex;
  flex-flow: column-reverse;
  background-color: #f7f7f7;
  padding: 12.5px !important;
  height: 40%;
  overflow: auto;
}

.tau-StreamConsole-list {
  padding: 0;
  list-style: none;
}

.tau-Dialog-body div:nth-child(1) {
  max-height: fit-content;
}

.tau-Dialog-name {
  width: 100%;
}

.tau-Dialog-form {
  overflow: hidden;
}

.tau-Dialog-checkbox-container {
    display: flex;
    flex-direction: row;
    padding: 5% 0 5% 5%;
}

.tau-Dialog-checkbox {
    padding: 0 20% 0 0;
}

.tau-Dialog-error {
  background-color: #f7f7f7;
  border: 1px #909090 solid;
  border-radius: 4px;
  padding: 20.5px !important;
  line-height: 1.5;
  white-space: normal;
}

.tau-TauDashboard {
  overflow-y: auto;  
}

.tau-Table-display {
  padding: 0% 5% 1% 5%;
}

.tau-Table {
  min-width: 650px;
}

.tau-dashboardToolbar-button span span {
  padding: 0 !important;
}

.tau-Table-column {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: var(--jp-ui-font-size1);
  padding: 8px 8px 8px 12px;
  margin: 0px;
  font-weight: bold !important;
  background-color: var(--jp-border-color2); 
}

.tau-Table-row:hover {
  background-color: #d9e6fa;
}

.tau-Table-row-clickable:hover {
  cursor: pointer;
}

.tau-Option-menu ul {
  padding: 0% 0% 0% 0%;
}

.tau-Option-menu .MuiMenuItem-root {
  border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
}

.tau-Option-menu .MuiPaper-rounded {
  margin-left: var(--tau-Menu-margin);
  border-radius: 0px;
  transform: none !important;
}

.lm-DockPanel-tabBar .lm-TabBar-tab.lm-mod-current .lm-TabBar-tabIcon,
.lm-TabPanel-tabBar .lm-TabBar-tab.lm-mod-current .lm-TabBar-tabIcon {
  margin-bottom: 0 !important;
}
